* {
  margin: 0;
  padding: 0;
}
body {
  box-sizing: border-box;
  background-image: linear-gradient(
    to right,
    rgb(9, 158, 89),
    rgb(24, 216, 168),
    rgb(147, 199, 50),
    rgb(24, 216, 168),
    rgb(147, 199, 50),
    rgb(24, 216, 168),
    rgb(9, 158, 89)
  );
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
